altair==4.1.0
argon2-cffi==20.1.0
astor==0.8.1
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
base58==2.1.0
bleach==3.3.0
blinker==1.4
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cycler==0.10.0
decorator==5.0.7
defusedxml==0.7.1
entrypoints==0.3
gitdb==4.0.7
GitPython==3.1.17
idna==2.10
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==3.0.0
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver @ file:///C:/ci/kiwisolver_1612282606037/work
MarkupSafe==2.0.0
matplotlib @ file:///C:/ci/matplotlib-suite_1613408055530/work
matplotlib-inline==0.1.2
mistune==0.8.4
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1618854156666/work
mkl-service==2.3.0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1618497418457/work
olefile==0.46
packaging==20.9
pandas @ file:///C:/ci/pandas_1618365634936/work
pandocfilters==1.4.3
parso==0.8.2
pickleshare==0.7.5
Pillow @ file:///C:/ci/pillow_1617386341487/work
plotly @ file:///tmp/build/80754af9/plotly_1610565580232/work
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.17.0
pyarrow==4.0.0
pycparser==2.20
pydeck==0.6.2
Pygments==2.9.0
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyrsistent==0.17.3
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
pywin32==300
pywinpty==0.5.7
pyzmq==22.0.3
requests==2.25.1
retrying==1.3.3
scipy @ file:///C:/ci/scipy_1618856128765/work
Send2Trash==1.5.0
sip==4.19.13
six @ file:///C:/ci/six_1605187374963/work
smmap==4.0.0
streamlit==0.82.0
terminado==0.9.5
testpath==0.4.4
toml==0.10.2
toolz==0.11.1
tornado @ file:///C:/ci/tornado_1606942392901/work
traitlets==5.0.5
tzlocal==2.1
urllib3==1.26.4
validators==0.18.2
watchdog==2.1.1
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
